<div class="panel panel-primary" ng-class="pl.fiftyOpacity(pl.processing)">
    <div class="panel-heading">
        <h3 class="panel-title">Process Logs</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <ui-select ng-model="pl.dataParams.selectedProcess" on-select="pl.loadProcessLogs()">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name" ></span>
                        </ui-select-match>
                        <ui-select-choices repeat="process in (pl.processes | filter: $select.search) track by process.id"
                                           refresh="pl.setProcess($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="process.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-4">
                    <ui-select ng-model="pl.dataParams.selectedServer" on-select="pl.loadServerLogs()">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name" ></span>
                        </ui-select-match>
                        <ui-select-choices repeat="server in (pl.servers | filter: $select.search) track by server.id"
                                           refresh="pl.setServer($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="server.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" ng-class="pl.fiftyOpacity(pl.processing)">
    <div class="panel-heading">
        <h3 class="panel-title">{{pl.accountName}} Logs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover content-table" ng-show="pl.results.length > 0">
            <thead>
            <tr>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process_log.id')">ID</th>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process.id')">Process</th>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process.id')">Server</th>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process.id')">Start</th>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process.id')">End</th>
                <th class="cursor-pointer" ng-click="pl.orderByChange('process.id')">Error</th>
                <th class="cursor-pointer"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in pl.results" ng-click="pl.openFullLog(log)">
                <td>{{log.id}}</td>
                <td>{{log.process_name}}</td>
                <td>{{log.start_date_time}}</td>
                <td>{{log.end_date_time}}</td>
                <td>{{log.server_name}}</td>
                <td><span ng-show="log.has_error == 1">{{log.has_error}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<pagination total-items="pl.totalCount"
            ng-model="pl.currentPage"
            items-per-page="pl.itemsPerPage"
            ng-change="pl.pageChanged()"></pagination>


<div id="process-log-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Create New Menu" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close m-r-5" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log #{{pl.currentLog.id}} {{pl.currentLog.server_name}}  {{sl.currentLog.process_name}} Messages</h4>
            </div>
            <div class="modal-body">
                <div class="row m-t-10" ng-repeat="message in pl.logMessages"
                     ng-class="pl.dangerClass(message.message_type_id)"
                     >
                    <div class="col-md-1">{{message.id}}</div>
                    <div class="col-md-9" >{{message.message}}</div>
                    <div class="col-md-2">{{message.created_at}}</div>
                    <hr>
                </div>
            </div>

            <div class="modal-footer">
                <div class="buttons-create-merchant">
                    <div>
                        <button type="button" ng-disabled class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>