INSERT INTO `server_environment_def` (`id`, `type`, `env_variable`, `env_variable_value`, `created_at`, `updated_at`)
VALUES
(38, 'fin_practice_trading', 'APP_ENV', 'live_practice', NULL, NULL),
(39, 'fin_practice_trading', 'APP_DEBUG', 'true', NULL, NULL),
(40, 'fin_practice_trading', 'APP_KEY', 'base64:dTSRA0qwpFb0tKWsQyGdiup3U2vKfKuAZ7CYm5lGW3Q=', NULL, NULL),
(41, 'fin_practice_trading', 'APP_LOG_LEVEL', 'emergency', NULL, NULL),
(42, 'fin_practice_trading', 'DB_HOST', '100.24.60.99', NULL, NULL),
(43, 'fin_practice_trading', 'DB_DATABASE', 'currency', NULL, NULL),
(44, 'fin_practice_trading', 'DB_USERNAME', 'admin', NULL, NULL),
(45, 'fin_practice_trading', 'DB_PASSWORD', 'BalencestoHockey96321', NULL, NULL),
(46, 'fin_practice_trading', 'APP_LOG', 'daily', NULL, NULL),
(47, 'fin_practice_trading', 'APP_ROOT', '/var/www/FinancialTrading/', NULL, NULL),
(48, 'fin_practice_trading', 'LOG_STRATEGY', '0', NULL, NULL),
(49, 'fin_practice_trading', 'SERVER_ID', '3', NULL, NULL),
(50, 'fin_practice_trading', 'SERVER_NAME', 'LIVE_PRACTICE', NULL, NULL),
(51, 'fin_practice_trading', 'OANDA_API_URL', 'https://api-fxpractice.oanda.com/v3/', NULL, NULL),
(52, 'fin_practice_trading', 'OANDA_AUTHORIZATION_TOKEN', 'a2ffe2a48d4bda741341a65abf86789c-f299b9116316898d11e3a8fc86e74b36', NULL, NULL),
(53, 'fin_practice_trading', 'HISTORICAL_DATA_CURRENCY', '4', NULL, NULL),
(54, 'fin_practice_trading', 'HISTORICAL_DATA_FREQUENCY', '3', NULL, NULL),
(55, 'fin_practice_trading', 'UTILITY_DB_HOST', '52.88.231.119', NULL, NULL),
(56, 'fin_practice_trading', 'UTILITY_DB_DATABASE', 'utility', NULL, NULL),
(57, 'fin_practice_trading', 'UTILITY_DB_USERNAME', 'utility_mgmt', NULL, NULL),
(58, 'fin_practice_trading', 'UTILITY_DB_PASSWORD', 'BalencestoHockey96321', NULL, NULL),
(59, 'fin_practice_trading', 'CACHE_DRIVER', 'file', NULL, NULL),
(60, 'fin_practice_trading', 'SESSION_DRIVER', 'file', NULL, NULL),
(61, 'fin_practice_trading', 'QUEUE_DRIVER', 'sync', NULL, NULL),
(62, 'fin_practice_trading', 'REDIS_HOST', 'localhost', NULL, NULL),
(63, 'fin_practice_trading', 'REDIS_PASSWORD', 'null', NULL, NULL),
(64, 'fin_practice_trading', 'REDIS_PORT', '6379', NULL, NULL),
(65, 'fin_practice_trading', 'MAIL_DRIVER', 'smtp', NULL, NULL),
(66, 'fin_practice_trading', 'MAIL_HOST', 'mailtrap.io', NULL, NULL),
(67, 'fin_practice_trading', 'MAIL_PORT', '2525', NULL, NULL),
(68, 'fin_practice_trading', 'TD_AMERITRADE_API_URL', 'https://api.tdameritrade.com/v1/', NULL, NULL),
(69, 'fin_practice_trading', 'TD_AMERITRADE_APP_KEY', 'TEST89434@AMER.OAUTHAP', NULL, NULL),
(70, 'fin_practice_trading', 'TD_AMERITRADE_CODE', 'qkyzl5Q+yM6mq0qcvccXnBq9EU8aj6eeROOlOOUlrLFMlU9sdx5p2LvGz/1UdTfWcD1jDxhkh7kZyT6SM5CozJ8lFHnXJ+6+A5wYvQluqGMlMWGQXviizyy5OOJDK/BuLKG87aq4XiGM1EH2dmHqOvvMhhXQ9BOsJQ2p6dTkPwor5F0Rm9SwQ6upfidYtE2nOkjRVeBQpecAV3rr65d+tnuhJ3pHSPrOv75P5KszYmI+9RUcrK8ofTf02qu4vnRih222LXX2VntbI8SDTWLJe1nb8RfBgO+cTO+Z0XVo6GMs8UOBLJAyPdV9oA+Foe0PiKK8uVUTza06Ak2pMt1eKSigTXUT04p4CRlfdM8V4cJ9eB6C/ANCEkDOOpyjHtgCUb0C/aAGmq1iyRllWM84dmR7j++CxUQLYXY4UqdoEwVMTtMVp5cRIAM4qMT100MQuG4LYrgoVi/JHHvllKgH/sPTFrOKNBLGg8dB52CVfWpQFSQKRBSz', NULL, NULL),
(71, 'fin_practice_trading', 'TD_AMERITRADE_ACCESS_TOKEN', 'zWVciv0FcVzPsohm8AQcIcjB08k2qRKUAxjAofclQnjqxo47338W0xBk+6lAdO0dUo04RNz8K/zTk4zuPt8l0YQEFO5/pBikEOsafvoktt91+//MX8mYEjbNJx+EaFdjanGUGsmWv2cBgCPAtqKv8NY6KnsFDSeEVUYXvUDeQhd9Hv34Vy0tl3WqBUi/fYtc81F5hNXXnO8eeftbBVbX1kVCO7MtcVlqOaCNjC9mO2Oc+Y2GWB3Ux8tH9RmgJVLFDs4n5Oip+hfTjLGkZgoWSbOjL9tLbK05jMH0a/QHl5MnorgexewU5/j2s122tPAGMXiS73+N61fBXYoYAqGuhVdzSk5SMGULUYfW5wJjk6I4hLW+TYXaWJwHnJztaUQDUe3ulUoJz560J0R+SI1x31QfcTdnk7ZwaLVZxlaNczQBrqSSv/D9DEVJSt5I279pB1CdrC2c3gHfoPXiDu6tDkCJxO6mG7nqC77iLVaVnVX4Khy9eogV', NULL, NULL),
(72, 'fin_practice_trading', 'TWILIO_TOKEN', 'fd59d488123ed157536fc1fd24fe5376', NULL, NULL),
(73, 'fin_practice_trading', 'TWILIO_SID', 'ACbe0456ee36d7e6e4ca810e8242f47c45', NULL, NULL),
(74, 'fin_practice_trading', 'TWILIO_FROM', '12816455692', NULL, NULL);
