CREATE TABLE `stocks_income_statements` (
`id` bigint(20) NOT NULL AUTO_INCREMENT,
`statement_date` date DEFAULT NULL,
`revenue` decimal(28,4) DEFAULT NULL,
`revenue_growth` decimal(13,4) DEFAULT NULL,
`cost_of_revenue` decimal(28,2) DEFAULT NULL,
`gross_profit` decimal(28,2) DEFAULT NULL,
`r_d_expenses` decimal(28,2) DEFAULT NULL,
`sga_expense` decimal(28,2) DEFAULT NULL,
`operating_expenses` decimal(28,2) DEFAULT NULL,
`operating_income` decimal(28,2) DEFAULT NULL,
`interest_expense` decimal(28,2) DEFAULT NULL,
`earnings_before_tax` decimal(28,2) DEFAULT NULL,
`income_tax_expense` decimal(28,2) DEFAULT NULL,
`net_income_non_controlling` decimal(28,2) DEFAULT NULL,
`net_income_discontinued_ops` decimal(7,1) DEFAULT NULL,
`net_income` decimal(28,2) DEFAULT NULL,
`preferred_divs` decimal(28,2) DEFAULT NULL,
`net_income_com` decimal(28,2) DEFAULT NULL,
`eps` decimal(28,2) DEFAULT NULL,
`eps_deluted` decimal(28,2) DEFAULT NULL,
`weighted_avg_shs` decimal(28,2) DEFAULT NULL,
`dividend_per` decimal(28,2) DEFAULT NULL,
`gross_margin` decimal(28,2) DEFAULT NULL,
`ebitda_margin` decimal(28,2) DEFAULT NULL,
`ebit_margin` decimal(28,2) DEFAULT NULL,
`profit_margin` decimal(28,2) DEFAULT NULL,
`free_cash_flow_margin` decimal(28,2) DEFAULT NULL,
`ebitda` decimal(28,2) DEFAULT NULL,
`ebit` decimal(28,2) DEFAULT NULL,
`consolidated_income` decimal(28,2) DEFAULT NULL,
`earnings_before_tax_margin` decimal(28,2) DEFAULT NULL,
`net_profit_margin` decimal(28,2) DEFAULT NULL,
`created_at` datetime DEFAULT NULL,
`updated_at` datetime DEFAULT NULL,
`stock_id` bigint(20) DEFAULT NULL,
PRIMARY KEY (`id`),
KEY `sis_stock_id` (`stock_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;