"insert into portal_permissions_roles_map (permission_id, role_id) values (150, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (150, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (150, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (151, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (151, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (151, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (151, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (151, 7);
insert into portal_permissions_roles_map (permission_id, role_id) values (152, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (153, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (154, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (154, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 5);
insert into portal_permissions_roles_map (permission_id, role_id) values (155, 7);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 5);
insert into portal_permissions_roles_map (permission_id, role_id) values (156, 7);
insert into portal_permissions_roles_map (permission_id, role_id) values (157, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (157, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (157, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (157, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (158, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (158, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (158, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (159, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (160, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (160, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (160, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (160, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (161, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (161, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (161, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (161, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (162, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (162, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (162, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (162, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (162, 7);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 5);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 6);
insert into portal_permissions_roles_map (permission_id, role_id) values (163, 7);
insert into portal_permissions_roles_map (permission_id, role_id) values (164, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (165, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (166, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (167, 1);
insert into portal_permissions_roles_map (permission_id, role_id) values (167, 2);
insert into portal_permissions_roles_map (permission_id, role_id) values (167, 3);
insert into portal_permissions_roles_map (permission_id, role_id) values (167, 8);
insert into portal_permissions_roles_map (permission_id, role_id) values (168, 1);
"