<div class="row">
    <div class="panel panel-primary" ng-class="sh.stockSearch.fiftyOpacity()">
        <div class="panel-heading">
            <h3 class="panel-title">Stocks</h3>
        </div>
        <div class="panel-body">
            <form name="sh.stock_filter_form" ng-submit="sh.stockSearch.search()">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Symbol</label>
                            <div class="col-md-9">
                                <input type="text" class="input-med form-control m-b-5" name="priority" placeholder="Stock Symbol"
                                       ng-model="sh.stockSearch.searchCriteria.symbol">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="input-med form-control m-b-5" name="priority" placeholder="Company Name"
                                       ng-model="sh.stockSearch.searchCriteria.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Industry</label>
                            <div class="col-md-9">
                                <select name="strategy" class="form-control input-large margin-top-five" ng-required="true"
                                        ng-model="sh.stockSearch.searchCriteria.industry" ng-fade
                                        ng-options="industry.id as industry.name for industry in sh.stockIndustry.industries">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sector</label>
                            <div class="col-md-9">
                                <select name="strategy" class="form-control input-large margin-top-five" ng-required="true"
                                        ng-model="sh.stockSearch.searchCriteria.sector" ng-fade
                                        ng-options="sector.id as sector.name for sector in sh.stockSector.sectors">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Technical Check</label>
                            <div class="col-md-9">
                                <select name="strategy" class="form-control input-large margin-top-five" ng-required="true"
                                        ng-model="sh.stockSearch.searchCriteria.technicalCheck" ng-fade
                                        ng-options="technicalCheck.code as technicalCheck.name for technicalCheck in sh.stockTechnicalCheck.technicalChecks">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="submit-contain pull-right">
                            <button class = 'btn-success btn' ng-click="sh.stockSearch.search()">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="menu-list">
    <div class="panel panel-primary" ng-class="sh.stockSearch.fiftyOpacity()">
        <div class="panel-heading">
            <h3 class="panel-title">Filter Results</h3>


        </div>
        <div class="panel-body">
            <div class="flex col-md-12">
                <div class="flex-justify-equal chart-button-contain" ng-repeat="tableType in sh.tableDisplays">
                    <button type="button" ng-class="sh.tableType(tableType)" class="btn-xs" ng-click="sh.currentTable = tableType">
                        {{tableType}}
                    </button>
                </div>
            </div>

            <table class="table table-responsive content-table" ng-show="sh.stockSearch.results.length > 0 && sh.currentTable == 'main'">
                <thead>
                <tr>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('id')">ID</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('id')">Symbol</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks.name')">Name</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_book.close')">Price</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_fundamental.market_cap')">Mkt Cap</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('id')">Sector</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('id')">Industry</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_book.ytd_change')">Year Change</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_book.month_change')">Month Change</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_book.week_change')">Week Change</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_book.change_percent')">Daily Change</th>
                    <th class="cursor-pointer">

                    </th>

                </tr>
                </thead>positiveNegativeClass
                <tbody>
                <tr ng-repeat="stock in sh.stockSearch.results" ng-click="sh.openFinancial(stock)">
                    <td>{{stock.id}}</td>
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.name}}</td>
                    <td>{{stock.close}}</td>
                    <td>{{sh.utilityService.numberWithCommas(stock.market_cap)}}</td>
                    <td>{{stock.sector_name}}</td>
                    <td>{{stock.industry_name}}</td>
                    <td>{{sh.utilityService.positiveNegativeClass(stock.ytd_change)}}</td>
                    <td>{{sh.utilityService.positiveNegativeClass(stock.month_change)}}</td>
                    <td>{{sh.utilityService.positiveNegativeClass(stock.week_change)}}</td>
                    <td>{{sh.utilityService.positiveNegativeClass(stock.change_percent)}}</td>
                    <td>
                        <h4 class="blue-text"><a ng-href="https://finance.yahoo.com/quote/{{stock.symbol}}/financials?p={{stock.symbol}}" target="_blank">F</a></h4>
                        <h4 class="text-success" ng-click="sh.openChart(stock)">C</h4>
                        <h4 class="text-warning" ng-click="sh.openProfile(stock)">P</h4>
                    </td>
                </tr>
                </tbody>
            </table>


            <table class="table table-responsive content-table" ng-show="sh.stockSearch.results.length > 0 && sh.currentTable == 'fundamental'">
                <thead>
                <tr>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('id')">ID</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('symbol')">Symbol</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks.name')">Name</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_fundamental.pe_ratio')">PE</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_fundamental.peg_ratio')">PEG</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_fundamental.total_debt_to_equity')">Total Debt/Capital</th>
                    <th class="cursor-pointer" ng-click="sh.stockSearch.orderByChange('stocks_fundamental.return_on_assets')">RET/Assets</th>
                    <th class="cursor-pointer"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stock in sh.stockSearch.results">
                    <td>{{stock.id}}</td>
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.name}}</td>
                    <td>{{stock.pe_ratio}}</td>
                    <td>{{stock.peg_ratio}}</td>
                    <td>{{stock.total_debt_to_capital}}</td>
                    <td>{{stock.return_on_assets}}</td>
                    <td>{{stock.return_on_assets}}</td>
                    <td>
                        <h4 class="blue-text"><a ng-href="https://finance.yahoo.com/quote/{{stock.symbol}}/financials?p={{stock.symbol}}" target="_blank">F</a></h4>
                        <h4 class="text-success" ng-click="sh.openChart(stock)">C</h4>
                        <h4 class="text-warning" ng-click="sh.openProfile(stock)">P</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<pagination total-items="sh.stockSearch.totalResults"
            ng-model="sh.stockSearch.currentPage"
            items-per-page="sh.stockSearch.itemsPerPage"
            ng-change="sh.stockSearch.pageChanged()"></pagination>

<stock-chart></stock-chart>
<stock-financial></stock-financial>
<stock-company-profile></stock-company-profile>