<div id="indicator-select-modal" class="modal fade promo-merchant-select-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Indicator Select</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Indicator</label>
                                <div class="col-md-9">
                                    <select name="indicator_event" class="form-control input-large margin-top-five"
                                            ng-model="indicator.selectedIndicator" ng-fade ng-change="getIndicatorEvents(indicator.selectedIndicator)"
                                            ng-options="indicatorEvent.id as indicatorEvent.name for indicatorEvent in indicator.indicators">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Indicator Event</label>
                                <div class="col-md-9">
                                    <select name="indicator_event" class="form-control input-large margin-top-five"
                                            ng-model="indicatorEvent.selectedIndicatorEvent" ng-fade
                                            ng-options="indicatorEvent as indicatorEvent.name for indicatorEvent in indicatorEvent.indicatorEvents">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>
                                <div class="col-md-9">
                                    {{indicatorEvent.selectedIndicatorEvent.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row purple-text">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Variables</label>
                                <div class="col-md-9">
                                    {{indicatorEvent.selectedIndicatorEvent.variable_declarations}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row blue-text">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Method Call</label>
                                <div class="col-md-9">
                                    {{indicatorEvent.selectedIndicatorEvent.method_call}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row green-text">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Opposing A</label>
                                <div class="col-md-9">
                                    {{indicatorEvent.selectedIndicatorEvent.opposing_condition_a}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Opposing B</label>
                                <div class="col-md-9">
                                    {{indicatorEvent.selectedIndicatorEvent.opposing_condition_b}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <div class="modal-footer">
                <button type="button" ng-disabled class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-click="setIndicatorEvent()">Submit</button>
            </div>
        </div>
        </div>
</div>